.gradient-blue{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(6,113,224,0.69) 36%, rgba(18,120,225,0.69) 67%, rgba(255,255,255,1) 100%);

}

.card-result{
    width: 30%;
}
@media (max-width: 768px) {
    .card-result{
        width: 100%;
        text-align: center;
        margin-bottom: 2%;
    }

    .card-result h1{
        font-size: 40px;
    }
    
}
.card-result p{
    font-size: 10px;
}


.results-section h1 {
    color: #0056b3;
    text-align: start;
}
.card-result h1{
    font-size: 50px;
    text-align: center;
}

.results-section .pos-title{
    text-align: start;
}

@media (m-width: 768px) {

}


@media (max-width: 768px) {
    .results-section .title,.results-section .pos-title {
        text-align: center;
        color: white;
    }

    .results-section .card{
        width: 70%;
        margin: auto;
        text-align: center;
    }
    .results-section .card .text-primary {
        text-align: center;
    }
}
.results-section h3 {
    font-size: 2.5rem;
    font-weight: bold;
}

.results-section p {
    font-size: 1.1rem;
    margin-bottom: 0;
    text-align: center;
}

.card{
    background-color: white;
}


@media(min-width: 1024px) {
.image-animation:hover {
    transform: scale(1.2); /* Aumenta a imagem ligeiramente ao passar o mouse */
}
}
@media(max-width: 768px) {
    .image-animation{
        display: flex;
        justify-content: center;
    }
    .image-animation img {
        max-width: 70%;
    }
    
}
