.contact-us .adress{
    padding-bottom: 2%;
    border-bottom: white 1px solid;
}

.container-form-email .card{
    border-radius: 16px;
}

.container-form-email .card .btn{
    border-radius: 18px;
    margin-right: 0;
    width: 70%;
}

.container-form-email .card small{
    font-size: 11px;
    display: inline-block;
}

a{
    text-decoration:none;
    color: white 
}

.page .contact-us{
    min-height: 100vh;
    display: grid;
    align-items: center;
    align-content: space-evenly;
    justify-items: center;
}

.page .contact-us .title{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.text-white{
    color: white;
}

.contact-us{
        min-height: 90vh;
        align-content: center ;

}